.navContainer {
  background-color: black;
  color: white;
  display: flex;
  padding: 0.5rem;
}

.nav-left {
  width: 30%;
  display: flex;
}
h1 {
  margin: 0;
  padding: 0;
  margin: auto;
  text-align: center;
}
.nav-right {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}
.nav-right ul {
  list-style: none;
  display: flex;
}
.nav-right ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
}
